/*  Used to manage your own custom styles  */

.front #admin-menu, .not-front #admin-menu {
z-index: 1001;
}

label[for=edit-name]

{
	float:left;
	padding: 0 5px 0 0;
}


label[for=edit-pass]
{
	float:left;
	padding: 0 5px 0 0;
}
